:root {
			/*      Theme colors        */
			--text-color: #9f01ea;/* pink*/
                       --text: #56d8e4; /*blue*/
			--sky: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
			--white: #ffffff;
		}
		/* ---------------- Global Classes ---------------*/
		a {
			text-decoration: none;
			color: var(--text-color);
		}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--sky) ;
      box-sizing: border-box;
}

.form{
  background: var(--white);
   z-index: 1;
  font-family: "Candara", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 0 45px 30px 45px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.9;
  padding-top: 1px;
}
.form .text{
   background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.form .icons i{
  color: #2E86DE;
  font-size: 25px;
  margin: 0 30px 30px 30px;
  transition: 0.8s;
  transition-property: color, transform;
}

.form .icons i:hover{
  color: #9f01ea;
  transform: scale(1.3);
}

.form .input{
  outline: 0;
  background: none;
  font-size: 15px;
  color: #000;
  text-align: center;
  width: 265px;
  margin-bottom: 30px;
  padding: 15px;
  box-sizing: border-box;
  border: 2.5px solid #2E86DE;
  border-radius: 25px;
  transition: 0.5s;
  transition-property: width;
}

.form .input:hover{
  width: 300px;
}

.form .input:focus{
  width: 300px;
}

.form button{
  outline: 0;
  background: none;
  color: grey;
  font-size: 14px;
  text-transform: uppercase;
  width: 150px;
  padding: 15px;
  border: 2.5px solid #9f01ea;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  transition-property: background, transform;
}

.form button:hover, .form button:active, .form button:focus{
  background: var(--text);
  color: var(--white);
  transform: scale(1.1);
}

.form .options{
  color: #000;
  font-size: 14px;
  margin: 20px 0 0;
}

.form .options a{
  text-decoration: none;
  color:#9f01ea;
}

.remember-forgot {
  font-size: .9em;
  color: #000;
  font-weight: 500;
  position: relative;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #000;
  margin-right: 3px;
}

.remember-forgot a {
  color: #000;
  text-decoration: none;
}